<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.activeminds.activemindsapp">
    <!--
         The ACCESS_COARSE/FINE_LOCATION permissions are not required to use
         Google Maps Android API v2, but you must specify either coarse or fine
         location permissions for the 'MyLocation' functionality.
    -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" /> <!-- <uses-permission android:name="android.permission.INTERNET" /> -->
    <!-- for camera feature -->
    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="18" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />

    <uses-feature android:name="android.hardware.location.gps" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_activeminds"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@mipmap/ic_activeminds_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="com.activeminds.activemindsapp.Anorexia"></activity>
        <activity android:name="com.activeminds.activemindsapp.Bulimia" />
        <activity android:name="com.activeminds.activemindsapp.Binge" />
        <activity android:name="com.activeminds.activemindsapp.EatingDisorder" />
        <activity android:name="com.activeminds.activemindsapp.Schizophrenia" />
        <activity android:name="com.activeminds.activemindsapp.SchizophreniaofAlberta" />
        <activity android:name="com.activeminds.activemindsapp.EatingDisorderSupportNetworkofAlberta" />
        <activity android:name="com.activeminds.activemindsapp.CounsellingClinicalServices" />
        <activity android:name="com.activeminds.activemindsapp.IslamicFamilyServices" />
        <activity android:name="com.activeminds.activemindsapp.YWCAEdmonton" />
        <activity android:name="com.activeminds.activemindsapp.SexualAssaultCentreofEdmonton" />
        <activity android:name="com.activeminds.activemindsapp.PrideCentreofEdmonton" />
        <activity android:name="com.activeminds.activemindsapp.UniversityofAlbertaFaculty" />
        <activity android:name="com.activeminds.activemindsapp.THEFAMILYCENTRE" />
        <activity android:name="com.activeminds.activemindsapp.DropInYEG" />
        <activity android:name="com.activeminds.activemindsapp.CommunityCounsellingCentre" />
        <activity android:name="com.activeminds.activemindsapp.MomentumWalkInCounselling" />
        <activity android:name="com.activeminds.activemindsapp.CornerstoneCounsellingCentre" />
        <activity android:name="com.activeminds.activemindsapp.AccessOpenMindsEdmonton" />
        <activity android:name="com.activeminds.activemindsapp.HelpLocations" />
        <activity android:name="com.activeminds.activemindsapp.BipolarDepressionMania" />
        <activity android:name="com.activeminds.activemindsapp.SeasonalAD" />
        <activity android:name="com.activeminds.activemindsapp.MajorDepression" />
        <activity android:name="com.activeminds.activemindsapp.ObsessiveCompulsive" />
        <activity android:name="com.activeminds.activemindsapp.SocialAnxiety" />
        <activity android:name="com.activeminds.activemindsapp.GeneralAnxiety" />
        <activity android:name="com.activeminds.activemindsapp.PanicAttack" />
        <activity android:name=".frag" />
        <activity android:name="com.activeminds.activemindsapp.IssuesPage" />
        <activity android:name="com.activeminds.activemindsapp.StressPage" />
        <activity android:name="com.activeminds.activemindsapp.DepressionPage" />
        <activity android:name="com.activeminds.activemindsapp.AnxietyPage" />
        <activity android:name="com.activeminds.activemindsapp.HubPage" />
        <activity android:name="com.activeminds.activemindsapp.newFollowing" />
        <activity android:name="com.activeminds.activemindsapp.newFollowPage" />
        <!--
     The API key for Google Maps-based APIs is defined as a string resource.
     (See the file "res/values/google_maps_api.xml").
     Note that the API key is linked to the encryption key used to sign the APK.
     You need a different API key for each encryption key, including the release key that is used to
     sign the APK for publishing.
     You can define the keys for the debug and release targets in src/debug/ and src/release/.
        -->
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />

        <activity
            android:name="com.activeminds.activemindsapp.MoodsMapActivity"
            android:label="@string/title_activity_user_feed_map" />
        <activity
            android:name="com.activeminds.activemindsapp.FeedMapActivity"
            android:label="@string/title_activity_mood_map" /> <!-- Configure File Provider -->
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.activeminds.activemindsapp.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/filepaths" />
        </provider>

        <activity android:name="com.activeminds.activemindsapp.followerActivity" />
        <activity android:name="com.activeminds.activemindsapp.FeedPage" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />

        <activity
            android:name=".MapsActivity"
            android:label="MapsActivity" />
        <activity
            android:name="com.activeminds.activemindsapp.ShowEventActivity"
            android:label="ShowEventActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.activeminds.activemindsapp.CreateEventActivity"
            android:label="CreateEventActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.activeminds.activemindsapp.EditEventActivity"
            android:label="@string/title_activity_user_page"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.activeminds.activemindsapp.UserPage"
            android:label="@string/title_activity_user_page"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.activeminds.activemindsapp.NotificationActivity"
            android:label="NotificationActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.activeminds.activemindsapp.Profile"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name="com.activeminds.activemindsapp.LoginPage" />
        <activity
            android:name="com.activeminds.activemindsapp.MainActivity"
            android:noHistory="true"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>